<div class="container bg-white about-wh">
  <h2 class="about-heading">How to track your Vehicle?</h2>
    <div class = "about-text">
      <p class="text-left">
       VTS (Vehicle Tracking System) is a system that allow you to konw the location of your Vehicle. Inorder to track your Vehicle you have to follow the following steps:


    <ul class="list-group list-group-flush text-left">
      <li class="list-group-item ">1- You have to obtain our vts hardware device (info on how to obtain the device please contact: +27611557995 or muandatito@gmail).</li>
      <li class="list-group-item">2- Open an account on this website.</li>
      <li class="list-group-item">3 - Register your vehicle on this website.</li>
      <li class="list-group-item">4- After completing steps 2 and 3 will be provided with a user id and vehicle id use both to register your vts hardware device.</li>
    </ul>


    <h2 class="about-heading">How to setup my vts hardware device?</h2>
  </div>
</div>
