<div class="container bg-white about-wh">
  <h2 class="about-heading">How to track your Vehicle?</h2>
    <div class = "about-text">
      <p class="text-left">
       VTS (Vehicle Tracking System) is a system that allow you to konw the location of your Vehicle. In order to track your Vehicle you have to follow the following steps:


    <ul class="list-group list-group-flush text-left">
      <li class="list-group-item">1- You have to obtain our vts hardware device (info on how to obtain the device please contact: +27611557995 or muandatito@gmail).<br/><br/>
      <%= image_tag 'hdwimg1', width: '400px', hight: '400px' %>
      </li>

      <li class="list-group-item">2- Open an account on this website.</li>
      <li class="list-group-item">3 - Register your vehicle on this website.</li>
      <li class="list-group-item">4- After completing steps 2 and 3 will be provided with a user id and vehicle id use both to register your vts hardware device.</li>
    </ul>


    <h2 class="about-heading " >How to setup my vts hardware device?
    </h2>
    <ul class="list-group list-group-flush text-left">
      <li class= "list-group-item">1 -Open the vts hardware box</li>
      <li class= "list-group-item">2 -Provind a SIM car to the SIM socket<br/><br/>
        <%= image_tag 'hdwimg2', width:'400px', hight:'400px' %>
        <blockquote class="blockquote">
          <p class="text-size text-muted">Note: Make sure your sim card is working and it does not contain a security pin, and also it must contain internet data and sms data.</p>
        </blockquote>
      </li>
       <li class= "list-group-item">3 -Close the vts box and you good to go :)</li>
       <br/><br/>
    </ul>
  </div>
</div>
