<header class="v-header container">
  <div class="fullscreen-video-wraper">
    <%= video_tag "map.mkv", controls: false, autoplay: true, muted: true, loop: true%>
  </div>

  <div class="header-overlay"></div>
  <div class="header-content">
    <span class="text-header">
      <h1 class="text-header-main">know your vehicel location</h1>
      <a href="#" class="btn btn-success link-upper btn-lg">track your vehicel</a>
    </span>
  </div>

</header>