<header class="v-header container">
  <div class="fullscreen-video-wraper">
    <%= video_tag "map.mkv", controls: false, autoplay: true, muted: true, loop: true%>
  </div>

  <div class="header-overlay"></div>
  <div class="header-content">
    <span class="text-header">
      <h1 class="text-header-main text-light">know your vehicle location</h1>
      <%= link_to 'track your vehicle', about_home_index_path, class: 'btn btn-success link-upper btn-lg text-light' %>
    </span>
  </div>

</header>