<div class="container login-text">
  <h1 class="text">Editing Vehicel info</h1>

  <%= render 'editForm', vehicel: @vehicel %>

  <%= link_to 'Show', user_vehicel_path(current_user,@vehicel) %> |
  <%= link_to 'Back', user_vehicels_path(current_user)  %>
</div>
